<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />
    <!--title-->
    <title>Renueva</title>
    <!--Icon title-->
    <link rel="shortcut icon" href="/resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--css archive-->
    <link rel="stylesheet" href="/resources/css/private/style_private.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
</head>

<body class="body">
    <main class="dashboard">
        <!--component render sidebar-->
        <div id="slidebar-main-container"></div>
        <!--template container, this component save main, and this have margin to view web-->
        <div class="template-main-container">
            <!--content-container, this component have border radius-->
            <div class="content-container">
                <!--this container have the final container, to use main place, in this part have search input and graphics-->
                <div class="main-content">
                    <!--component render search input-->
                    <div class="search-container" id="search-container"></div>
                    <!--dashboard container place to content the graphics-->
                    <div class="dashboard-container">
                        
                        <div class="container-graph graph-pie">
                            <img src="/resources/img/LogoFavIcon.png" alt="">
                        </div>
                        <div class="container-graph graph-column">
                            <img src="/resources/img/LogoRenueva_Login.png" alt="">
                        </div>
                        <div class="container-graph graph-line">
                            <img src="/resources/img/sidebar-logo.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/general/js/materialize.min.js"></script>
    <!--JavaScript to render some components-->
    <script type="text/javascript" src="/controllers/private/render.js"></script>
</body>

</html>