<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />
    <!--title-->
    <title>Renueva</title>
    <!--Icon title-->
    <link rel="shortcut icon" href="/resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--css archive-->
    <link rel="stylesheet" href="/resources/css/private/style_private.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
</head>

<body class="body">
    <main class="dashboard">
       <!--component render sidebar-->
        <div id="slidebar-main-container"></div>
        <!--template container, this component save main, and this have margin to view web-->
        <div class="template-main-container">
            <!--content-container, this component have border radius-->
            <div class="content-container">
                <div class="main-content">
                    <!--component render search input-->
                    <div class="search-container" id="search-container"></div>
                    <!--dashboard container-->
                    <div class="staffs-container">
                        <!--component render-->
                        <div id="more-actions"></div>
                        <div class="table-container">
                            <table class="table table-responsive">
                                <thead class="">
                                    <tr>
                                        <th>Names</th>
                                        <th>Lastnames</th>
                                        <th>Document</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td scope="row"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal Structure -->
    <div id="modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form action="">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="names" type="text" class="validate" required>
                        <label for="names">Names</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="Document" type="text" class="validate" required>
                        <label for="Document">Document</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Phone" type="text" class="validate" required>
                        <label for="Phone">Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat btn-danger">Cancel</a>
            <a class="modal-close waves-effect waves-green btn-flat btn-succes">Add</a>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/general/js/materialize.min.js"></script>
    <!--JavaScript to render some components-->
    <script type="text/javascript" src="/controllers/private/render.js"></script>
    <!--modal script-->
    <script src="/controllers/private/modal_init.js"></script>
</body>

</html>