<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--title-->
    <title>Renueva</title>
<!--Icon title-->
<link rel="shortcut icon" href="../../resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="./../../resources/general/fonts/fonts.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/general/css/materialize.css">
    <link rel="stylesheet" href="../../resources/general/css/materialize.min.css">
    <link rel="stylesheet" href="/resources/css/public/style_public.css">

</head>

<body>

    <header> </header>
    <div class="space"></div>
    <div id="test1" class="">
        <div class="row banner">
            <div class=" banner-description">
                <img src="/resources/img/Logo/LogoRenueva_Login.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="galery">
                <h3>Featured Products</h3>
                <div class=" galery-img">
                    <img src="/resources/img/Products/image 2.png" alt="">
                    <img src="/resources/img/Products/image 6.png" alt="">
                    <img src="/resources/img/Products/image 7.png" alt="">
                    <img src="/resources/img/Products/image 8.png" alt="">
                    <img src="/resources/img/Products/image 9.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <footer></footer>


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/general/js/materialize.js"></script>
    <script src="/controllers/public/home.js"></script>
    <script src="/controllers/public/welcome.js"></script>
</body>

</html>