<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--title-->
    <title>Renueva</title>
    <!--Icon title-->
    <link rel="shortcut icon" href="../../resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="./../../resources/general/fonts/fonts.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />

    <!--Main styles-->
    <link rel="stylesheet" href="/resources/css/public/style_public.css">
</head>

<body class="form-init">

    <main class="container-login">
    
        <div class="row">
            <div class="main-form col s12">
                <div class="data-user">
                    <form action="">
                        <div class="usuario">
                            <div class="input">
                                <input type="text" placeholder="Username" class="login-input">
                            </div>

                            <div class="input">
                                <input type="password" placeholder="Password" class="login-input">
                            </div>

                            <div >
                                <a href="" class="forgot-pass" >Forgot Password?</a>
                            </div>
                        </div>
                            <div class="button">
                                <button type="submit" class="btn  boton-inicio" data-tooltip="Ingresar">
                                    Log In
                                </button>
                            </div>
                        
                    </form>

                </div>
            </div>
        </div>
        <div class="row logo-container">
            <div class="logo col s12">
                <img src="/resources/img/Logo/LogoRenueva_Login.png" class="logo-login" alt="Logo">                
            </div>
            <div class="col s12 texto-register">
                <p>You’re new here?</p>
            </div>
            <div class="col s12">
                <div class="button btn-register">
                    <button type="submit" class="btn  boton-register" data-tooltip="Ingresar">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="./../../resources/general/js/materialize.min.js"></script>
</body>

</html>